@media only screen and (min-width: 1200px) {

    .Hero-section .hero-left h3 span {
        font-size: 56px;
    }

    .Hero-section .hero-right {
        width: 46%;
        position: absolute;
        right: 0;
        bottom: 0%;
    }

    .Compay-history-section .history-banner {
        width: 100%;
        height: 299px;
    }

    /* service page */
    .weekly-consultation .left-site-img span img {
        width: 75%;
        height: 600px;
    }



}













@media only screen and (max-width: 1200px) {

    /* nav bar styles */
    .navigation-bar {
        width: 80%;
        height: 120px;
    }

    .section-title {
        width: 65%;
    }

    /* hero section */
    .Hero-section .hero-left {
        width: 50%;
        padding: 45px 0;
    }

    .Hero-section .hero-left h3 {
        font-size: 42px;
    }

    .Hero-section .hero-left h3 span {
        font-size: 48px;
    }

    .Hero-section .hero-right {
        width: 50%;
        position: absolute;
        right: 0;
        bottom: 0%;
    }

    .Hero-section .hero-left button {
        width: 50%;
    }

    .why-choose-us .chooseUs-content-box {
        flex-wrap: wrap;
    }

    .why-choose-us .content {
        width: 32%;
        margin: 15px 0;
        text-align: center;
    }

    /* join our waiting list section */
    .join-waitinglist-today {
        margin-top: 155px;
    }


    .join-waitinglist-today .left-content {
        height: fit-content;
        margin: auto auto;
        margin-top: 25px;
        padding: 45px 0;
        padding-bottom: 50px !important;

    }

    .join-waitinglist-today .left-content h3 {
        font-size: 42px;
        line-height: 45px;
    }

    .join-waitinglist-today .container {
        height: fit-content;
    }

    .join-waitinglist-today .left-content {
        height: 100%;
        padding: 25px 0;
    }

    .join-waitinglist-today .left-content p {
        margin: 10px 0;
    }

    .join-waitinglist-today .left-content .button {
        padding: 0;
        margin-top: 0;
    }

    .join-waitinglist-today .right-content img {
        width: 85%;
        position: absolute;
        right: 25px;
        bottom: 0;
    }


    /* about page company history */
    .Compay-history-section .history-banner {
        width: 100%;
        height: 299px;
    }


    /* service page */
    .weekly-consultation .right-site-content {
        width: 50%;
        position: relative;
    }

    .weekly-consultation .left-site-img span img {
        width: 68%;
        height: 600px;
    }


    /* login page */
    .signup-page .signup-area {
        padding: 100px;
    }






    /* 404 page */
    .error-text .button button {
        width: 35%;
        padding: 15px 30px;
        font-weight: 700;
    }

    /* footer section */
    footer .flex-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    * footer .footer-item {
        width: 48%;
    }
}















@media only screen and (max-width:992px) {
    .section-title {
        width: 75%;
    }

    .why-choose-us .chooseUs-content-box {
        flex-wrap: wrap;
    }

    .why-choose-us .chooseUs-content-box .content {
        width: 30%;
        height: 100%;
        box-sizing: border-box;
    }

    .why-choose-us .content img {
        width: 100px;
        height: 100px;
    }

    .why-choose-us .content p {
        margin-top: 0px;
    }


    /* join us waiting list */
    .join-waitinglist-today {
        margin-top: 100px;
    }

    .join-waitinglist-today .flex-box {
        display: block;
    }

    .join-waitinglist-today .left-content {
        width: 85%;
        padding-top: 25px !important;
        text-align: center;
    }

    .join-waitinglist-today .left-content button {
        width: 40%;
        margin: 0 auto;
    }

    .join-waitinglist-today .right-content {
        width: 75%;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }

    .join-waitinglist-today .right-content img {
        position: static;
        display: flex;
        justify-content: center;
        margin: 0 auto;
    }


    /*TESTIMONIALS SECTION */
    .what-people-think-aboutus .testimonials-box {
        margin-top: 50px;
        display: block;
    }

    .faq-section .faq-box {
        display: block;
    }

    .faq-section .left-img {
        width: 60%;
        margin: 30px auto;
    }

    .faq-section .faq-box .right-site-FAQs {
        width: 70%;
        margin: 0 auto;
    }

    /* homepage blog section and blog page first section */
    .Featured-month-section .flex-box {
        display: block;
    }

    .Blog-section .left-site-content {
        width: 100%;
        margin: 50px auto;
    }

    .Blog-section .right-site-videos {
        width: 75%;
        margin: 25px auto;
    }






    /* about page company history */
    .Compay-history-section .history-content-box {
        width: 100%;
    }

    .Compay-history-section .history-banner {
        width: 100%;
        height: 299px;
    }

    .Compay-history-section .history-banner {
        width: 100%;
        height: 299px;
        padding: 50px;
    }

    .Compay-history-section .history-content-box .text-box p {
        width: 90%;
        margin: 0 auto;
        padding: 25px 0;
        text-align: justify;
    }




    /* our values section */
    .our-values-section .values-content-box {
        margin-top: 0px;
        flex-wrap: wrap;
    }

    .our-values-section {
        margin-bottom: 55px;
    }

    .our-values-section .values-item {
        width: 32%;
        margin: 15px 0;
    }

    /* mission section */
    .mission-section .mission-text {
        text-align: justify;
        margin-top: 42px;
    }


    /* qulified doctors section */
    .Qualified-doctors-section {
        margin-bottom: 55px;
    }

    .qualified-doctors-box {
        flex-wrap: wrap;
    }

    .qualified-doctors-box .items-card {
        width: 48%;
    }

    /* meet our leader section */
    .meet-leader-section .leader-card-box {
        flex-wrap: wrap;
    }

    .meet-leader-section .section-title {
        margin: 30px auto;
    }

    .meet-leader-section .leader-card {
        width: 30%;
    }







    /* services page*/
    .weekly-consultation .weekly-consultation-box {
        display: block;
    }

    .weekly-consultation .left-site-img {
        width: 60%;
        margin: 25px auto;
        position: static;
    }

    .weekly-consultation .left-site-img span {
        width: 70%;
        height: 100%;
        margin: 25px auto;
        position: static;
        border-bottom: .5px solid var(--borderColor);
    }

    .weekly-consultation .left-site-img span img {
        width: 100%;
        height: 100%;
        border-bottom: 1px solid var(--borderColor);
    }

    .weekly-consultation .right-site-content {
        width: 85%;
        margin: 0 auto;
        margin-top: 30px;
        text-align: justify;
    }

    .weekly-consultation .right-site-content h3 {
        width: 90%;
        font-size: 36px;
        font-weight: 700;
        text-align: left;
    }

    .weekly-consultation .left-site-img {
        z-index: 999;
    }





    /* choose plan section */
    .choose-plan-sectin .plan-box {
        padding-top: 20px;
        display: block;
    }

    .choose-plan-sectin .plan-box .heading {
        margin-top: 0px;
    }

    .choose-plan-sectin .plan-box .left-price {
        width: 80%;
        margin: 25px auto;
    }

    .choose-plan-sectin .plan-box .right-site-plan {
        width: 80%;
        margin: 25px auto;
        margin-top: 45px;
    }

    .choose-plan-sectin .plan-box .heading h4 {
        font-size: 36px;
        font-weight: 700;
    }

    .choose-plan-sectin .plan-box .heading span button {
        display: flex;
        align-items: center;
        width: 50%;
        height: fit-content;
        padding: 15px 30px;

    }

    .choose-plan-sectin .plan-table-area table tbody {
        width: 100%;
        height: 60px;
        padding: 0px 15px;
    }

    .choose-plan-sectin .plan-table-area table tr {
        width: 100%;
        height: 60px;
        padding: 0px 15px;
        display: flex;
        align-items: center;
        justify-content: space-between;

    }

    .choose-plan-sectin .plan-table-area thead th {
        width: 100%;
        display: flex;
        align-items: flex-start;
        justify-content: start !important;
    }

    .choose-plan-sectin .plan-table-area table tr img {
        width: 25px;
    }

    .choose-plan-sectin .plan-table-area table tr td:first-child {
        width: 100%;
    }

    .choose-plan-sectin .plan-table-area table tr td {
        width: 100%;
    }


    .choose-plan-sectin .plan-table-area table tfoot button {
        width: 100%;
        height: 45px;
        color: #3d3d3d;
        font-size: 12px !important;
        border: 1px solid rgba(50, 92, 244, 0.30);
        box-shadow: 0px 0px white;
    }


    /* consultation section */

    .weekly-consultation .weekly-consultation-box {
        margin-top: 115px;
        padding: 40px;
    }



    /* consultation section */
    .consultation-section .items {
        width: 100%;
        display: flex;
        margin: 35px 0;
    }

    .consultation-section .items .right-content span {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 25px;
    }

    .consultation-section .items .right-content img {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .consultation-section .items .right-content h4 {
        width: 75%;
        height: 100%;
        flex-direction: column-reverse;
        font-size: 24px;
        font-weight: 600;
        line-height: 35px;
        padding-right: 10px;
    }

    .consultation-section .items .right-content p {
        font-size: 18px;
        text-align: justify;
    }

    .consultation-section .items .right-content {
        width: 80%;
        padding: 25px;
    }

    .consultation-section .items .left-img {
        width: 80%;
        padding: 15px;
        margin: 0 auto;
    }

    .consultation-section .items .right-content h4 {
        width: 100%;
        font-size: 22px;
    }

    /* services page end */


    /* our science / blog page */
    .Featured-month-section .left-site-content {
        width: 100%;
    }

    .Featured-month-section .content-card {
        width: 100%;
    }

    .Featured-month-section .right-site-videos {
        width: 80%;
        margin: 25px auto;
    }

    .Featured-month-section h3 {
        font-size: 32px;
    }


    /* recently post section */
    .recently-poost-section .title h4 {
        padding-bottom: 30px;
        margin-left: 15px;
    }

    .recently-poost-section .flex-box {
        display: block;
    }

    .recently-poost-section .left-site-posts {
        width: 100%;
    }

    .recently-poost-section .pagination {
        width: 70%;
        margin: 45px 0;
    }

    .recently-poost-section .pagination ul {
        width: 100%;
    }

    .recently-poost-section .pagination ul li {
        width: 20%;
        height: 41px;
        margin: 0px 16px;
    }

    .recently-poost-section .pagination ul button {
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    .recently-poost-section .right-site-content {
        width: 100%;
        margin-top: 75px;
    }

    .recently-poost-section .right-site-content .ads-zone {
        width: 100%;
        height: 200px;
        padding: 25px 50px;
    }

    .recently-poost-section .ads-zone button {
        width: 30%;
        height: 41px;
        font-size: 15px;
        font-weight: 600;
        margin-top: 15px;
    }

    /* Blog/our science page end */




    /* footer section */
    footer {
        height: fit-content;
    }

    footer .flex-box {
        flex-wrap: wrap;
        justify-content: center;
    }

    footer .footer-item {
        margin: 25px 0;
    }

    footer .footer-item:nth-child(2) {
        width: 48%;
    }

    footer .footer-item:nth-child(3) {
        width: 30%;

    }
}








/*  */


@media only screen and (max-width:768px) {

    /* navigation bar styles */
    .navigation-bar .nav-items {
        display: none !important;
        background-color: green;
    }


    /* service page*/

    /* choose plan section */
    .choose-plan-sectin .plan-box .left-price {
        width: 95%;
        margin: 25px auto;
    }

    .choose-plan-sectin .plan-box .right-site-plan {
        width: 95%;
        margin: 25px auto;
        margin-top: 25px;
    }

    .choose-plan-sectin .plan-box .right-site-plan .plan-items {
        width: 100%;
        justify-content: space-between;
    }

    .choose-plan-sectin .plan-box .heading h4 {
        font-size: 30px;
        font-weight: 700;
    }

    .choose-plan-sectin .plan-table-area table {
        width: 100%;
        height: 100%;
        text-align: left;
        margin-top: 15px;
        margin-bottom: 45px;
        overflow-x: auto;
    }

    /* .choose-plan-sectin .plan-table-area table tfoot{
            width: 100%;
            background-color: red;
            font-size: 12px;
        }
        .choose-plan-sectin .plan-table-area table tfoot button {
            width: 50%;
            font-size: 15px;
            height: 40px;
        } */


    /* service page */
    /* consultation section */
    .consultation-section .items {
        width: 100%;
        display: block;
        margin: 35px 0;
    }

    .consultation-section .items .right-content {
        width: 80%;
        margin: 20px auto;
    }

    .recently-poost-section .todays-update {
        margin-top: 55px;
    }

    .recently-poost-section .todays-update h4 {
        margin-bottom: 20px;
    }

    .recently-poost-section .search-tags h4 {
        margin-top: 50px;
        margin-bottom: 20px;
    }

    .recently-poost-section .search-tags ul {
        margin-bottom: 25px;
    }

    .recently-poost-section .search-tags ul li {
        font-size: 14px;
        padding: 10px 20px;
    }

    /* service page end */


    /* login page */

    .login-page .flex-box {
        padding: 0;
        width: 100%;
        display: block;
    }

    .signup-area {
        padding: 20px;
    }

    .signup-page .signup-form {
        width: 100% !important;
    }

    .signup-page .signup-form {
        width: 100%;
    }

    .signup-page form span textarea {
        width: 533px;
        height: 187px;
        display: flex;
        height: 100%;
        padding: 10px;
        align-items: center;
        border: .5px solid var(--lightPurple);
        outline: none;
        font-size: 16px;
    }
}








/* @media (max-width:400px) {} */